body {
  font-family: 'Mukta', sans-serif;
  color: #212121;
  background-color: #eaeaea
}

img {
  height: 200px;
}

h1 {
  font-size: 40px;
  margin-bottom: 3px;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 30px;
}

.header {
  display: flex;
}

.right-header {
  float: right;
  margin-left: 90px;
}

ul {
  list-style: none;
}

h1 {
  letter-spacing: 3px;
}

h2 {
  font-size: 20px;
}

.sidebar {
  float: left;
  margin: 15px;
  line-height: 18px;
}

.main {
  float: right;
}