body {
  font-family: 'Josefin Sans', sans-serif;
  color: #212121;
  background-color: #f2f2f2
}

img {
  height: 230px;
  margin: 8px;
  border-radius: 15px;
}

.images {
  margin: 8px 8px 8px 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 3px;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 30px;
}

.header {
  display: flex;
  margin-bottom: -20px;
}

.right-header {
  float: right;
  margin-left: 60px;
}

input {
  margin-top: 15px;
  border-radius: 5px;
  width: 160px;
}

button {
  margin-left: 10px;
}

ul {
  list-style: none;
  margin-left: -30px;
}

h1 {
  letter-spacing: 3px;
}

h2 {
  font-size: 15px;
  margin-bottom: -10px;
}

.sidebar {
  float: left;
  margin: 15px;
  line-height: 19px;
}

.main {
  float: right;
}