body {
  font-family: 'Josefin Sans', sans-serif;
  color: #212121;
  background-color: white;
}

.container {
  margin: 100px 150px 8px 210px;
  column-width: 200px;
	column-gap: 10px;
  width: 88%;
  max-width: 1000px;
  float: right;
	/* margin: 10px auto; */
}

.image {
  width: 230px;
  margin: 8px;
  border-radius: 15px;
  opacity: 1;
}

@media only screen and (max-width: 1390px) {
  .container {
    margin: 100px 120px 8px 210px;
  }
}

@media only screen and (max-width: 1370px) {
  .container {
    margin: 100px 100px 8px 210px;
  }
}

@media only screen and (max-width: 1350px) {
  .container {
    margin: 100px 80px 8px 210px;
  }
}

@media only screen and (max-width: 1330px) {
  .container {
    margin: 100px 60px 8px 210px;
  }
}

@media only screen and (max-width: 1310px) {
  .container {
    margin: 100px 40px 8px 210px;
  }
}

@media only screen and (max-width: 1290px) {
  .container {
    margin: 100px 20px 8px 210px;
  }
}

@media only screen and (max-width: 1270px) {
  .container {
    width: 78%;
  }
}

@media only screen and (max-width: 1210px) {
  .container {
    width: 68%;
  }
}

@media only screen and (max-width: 1070px) {
  .container {
    width: 75%;
  }
}

@media only screen and (max-width: 930px) {
  .container {
    width: 65%;
  }
}

@media only screen and (max-width: 710px) {
  .container {
    width: 50%;
  }
}

.overlay-container {
  position: relative;
  text-align: center;
  word-wrap: break-word
}

.toggle-text {
  display: none;
}

#toggle-text-show {
  display: block;
}

#toggle-text-hide {
  display: none;
}

.title-text {
  font-size: 16px;
  position: absolute;
  bottom: 140px;
  left: 20px;
  background-color: #F6B03A;
  color: white;
  padding: 5px;
  text-align: left;
  pointer-events: none;
}

.price-text {
  font-size: 14px;
  position: absolute;
  bottom: 110px;
  left: 20px;
  background-color: #F6B03A;
  color: white;
  padding: 5px;
  text-align: left;
  pointer-events: none;
}

.url-text {
  font-size: 14px;
  position: absolute;
  bottom: 90px;
  left: 20px;
  background-color: #F6B03A;
  color: white;
  padding: 5px;
  text-align: left;
}

h1 {
  font-size: 40px;
  margin-bottom: 3px;
}

.logo {
  width: 170px;
  height: 170px;
  margin: 10px;
  position: fixed;
}

.header {
  display: flex;
  margin-bottom: -30px;
  margin-left: 20px;
}

.right-header {
  float: right;
  margin-left: 230px;
}

.about {
  float: left;
  margin-top: 250px;
  margin-left: 10px;
  position: fixed;
  line-height: 2px;
}

input {
  margin-top: 15px;
  border-radius: 5px;
  width: 160px;
  height: 20px;
}

button {
  margin-left: 10px;
  height: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style: none;
  margin-left: -30px;
}

h1 {
  letter-spacing: 3px;
}

h2 {
  font-size: 15px;
  margin-bottom: -10px;
}

.sidebar {
  float: left;
  margin: 130px 0px 15px 15px;
  line-height: 22px;
  position: fixed;
}

.loading {
  display: none;
  /* font-size: 30px;
  height: 30%;
  width: 110%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center; */
}

.copyright {
  font-size: 14px;
  float: left;
  margin-top: 670px;
  margin-left: 20px;
  position: fixed;
}

li:hover {
  font-weight: bold;
}

.next-btn {
  width: 90px;
  height: 50px;
  font-size: 20px;
  float: right;
  margin-bottom: 20px;
  margin-right: 40px;
  border-radius: 10px;
}
